{% extends 'base.html' %}
{% load static %}
{% block title %}BlogVerse - Share Your Post And Interest With World.{% endblock title %}
{% block favi %}
<link rel="icon" type="image/x-icon" href="{% static 'image/homefavicon.ico' %}">

{% endblock favi %}


{% block css %}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>


{% endblock css %}
{% block search %}
<form class="search-form" method="GET" action="{% url 'homes' %}">
    <input class="frm-imp" type="search" placeholder="Search" name="searchpost">
    <button type="submit">Search</button>
  </form>
{% endblock search %}

{% block content %}



<marquee class="css1"> {{headlinetoday.mymsg}} | ( {{msgtwo.mymsg}} )  </marquee>


{% for message in messages %}

<style>
  /* Container styles */
  .container-x {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      width: 400px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(5px);
      z-index: 9999;
  }
  
  /* Header styles */
  .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
  }
  
  .header h2 {
      margin: 0;
      font-size: 20px;
      color: #333333;
  }
  
  .header .close-icon {
      font-size: 16px;
      color: #999999;
      cursor: pointer;
  }
  
  /* Content styles */
  .content {
      margin-bottom: 20px;
  }
  
  .content p {
      margin: 0;
      font-size: 16px;
      color: #666666;
  }
  
  /* Button styles */
  .button {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #4CAF50;
      color: #ffffff;
      font-size: 16px;
      text-decoration: none;
      transition: background-color 0.3s ease;
  }
  
  .button:hover {
      background-color: #45a049;
  }
  
  /* Icon styles */
  .icon {
      font-size: 24px;
      margin-right: 10px;
  }
</style>

<div class="container-x">
  <div class="header">
      <h2 style="color: red;"> Message For You</h2>
      <a href="{% url 'homes' %}"><span class="close-icon">&#10005;</span></a>
  </div>
  <div class="content">
      <p><span class="icon">&#128161;</span>{{message}}</p>
  </div>
  <a href="{% url 'homes' %}" class="button">Refresh Now</a>
</div>




{% endfor %}



<main>




  <section class="site-title">
    <div class="site-background" data-aos="fade-up" data-aos-delay="100">
      <h3>BlogVerse</h3>
      <h1 style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">"Unleash Your Words, Share Your Story - Join BlogVerse!"

      </h1>
      
        <button class="btn">Explore</button>
    </div>
</section>




  <section class="category-logos">

    <div class="logo">
      <img src="{% static 'image/tech.png' %}" alt="Technology">
      <h4>Technology</h4>
    </div>
    <div class="logo">
      <img src="{% static 'image/sports.jpg' %}" alt="Sports">
      <h4>Sports</h4>
    </div>
    
    <div class="logo">
      <img src="{% static 'image/hack.jpg' %}" alt="Hacking">
      <h4>Hacking</h4>
    </div>
    <div class="logo">
      <img src="{% static 'image/entertaint.png' %}" alt="Entertainment">
      <h4>Entertainment</h4>
    </div>
    <div class="logo">
      <img src="{% static 'image/news.jpg' %}" alt="News">
      <h4>News</h4>
    </div>
  </section>
  


  <section>
    <div class="blog" >
            
      <div class="container">
              <h2>Top Posts</h2>

              <div class="owl-carousel owl-theme blog-post" >
                
                {% for content in top_posts %}
                <div class="card1">
                  <div class="thumbnail">
                    <a href="{% url 'artical' content.slug %}"> <img src="{{content.picture.url}}" alt=""></a>
                  </div>
                  <div class="content">
                     <h2>{{content.title|slice:":30"}}...</h2>
                     <p>{{ content.descript|truncatechars:60|safe }}...</p>


                     <div class="meta-info">
                        <span class="author">{{content.user}}</span>
                        <span class="date">{{content.uploaded_at}}</span>
                        <span class="date">{{content.read_time}} read</span>
                     </div>
                     
                  </div>
                </div>
                
                
                {% endfor %}
                
                   
                </div>

                <div class="owl-navigation" style="margin-top : 50px;">
                    <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                    <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
      </div>
    </div>
  </section>



    <section class="container" style="margin-top: 10px;">
        <div class="site-content">
            <div class="posts">

                <h2>Recent Posts</h2>

                <div class="card-container">
                  {% for content in page_obj %}
                  <div class="card">
                      <div class="thumbnail">
                          <img src="{{content.picture.url}}" alt="">
                      </div>


                      <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{content.user}}</span>
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{content.uploaded_at}}</span>
                        <span> Comments - {{ content.total_comments }}</span>
                      </div>

                      <div class="content">
                          <h2>{{content.title|slice:":50"}}...</h2>
                          <p>{{ content.descript|truncatechars:160|safe }}...</p>


                          
                          <a href="{% url 'artical' content.slug %}" class="read-more">Read More</a>
                      </div>
                  </div>
                  {% endfor %}
                </div>

                


                <div class="pagination flex-row">
                    
                    {% if page_obj.has_previous %}
                    
                    <a class="page-link" href="?page=1">&laquo; first</a>
                    
                    
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    
                    {% else %}
                    
                    <a class="page-link" href="#">&laquo; first</a>
                    
                    
                    <a class="page-link" href="#">previous</a>
                    
                    {% endif %}



                    {% for num in page_obj.paginator.page_range %}

                    {% if page_obj.number == num %}
                    
                    <a class="page-link" href="#">{{ num }}</a>
                    
                    {% else %}
                    
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    
                    {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>

                    {% else %}
                    <a href="#">last &raquo;</a>
                    <a href="#"><i class="fas fa-chevron-right"></i></a>
                    {% endif %}
                </div>


            </div>
            <aside class="sidebar">
                <div class="category">
                    <h2>Category</h2>
                    <ul class="category-list">

                      
                      {% for item, count in categories.items %}
                      
                      <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                        <a href="?category={{ item }}">{{ item }}</a>
                        <span>{{ count }}</span>
                      </li>
                      
                      {% endfor %}
                        

                        
                    </ul>
                </div>
                <div class="popular-post">
                    <h2>Popular Post</h2>
                    {% for content in page_obj %}
                    
                    <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src={{content.picture.url}} class="img" alt="blogthumb">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{content.uploaded_at}}</span>
                                <span>{{content.total_comments}} Comments</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="{% url 'artical' content.slug %}">{{content.title}}</a>
                        </div>
                    </div>

                    {% endfor %}

       
                    {% comment %} Ad section integrate later {% endcomment %}
                    <div class="post-content" data-aos="flip-up" data-aos-delay="50">
                        <div class="post-image">
                            <div>
                                <p>Ad</p>
                                <img src="{% static 'image/bgp.jpg' %}" class="img"  alt="ad1">
                            </div>
                            
                        </div>
                        
                    </div>



                <div class="newsletter" data-aos="fade-up" data-aos-delay="300">
                    <h2>Subscribe Us</h2>
                    <div class="form-element">
                        <input type="text" class="input-element" placeholder="Email">
                        <button class="btn form-btn">Subscribe</button>
                    </div>
                </div>
                <div class="popular-tags">
                    <h2>Popular Tags</h2>
                    <div class="tags flex-row">
                        <span class="tag" data-aos="flip-up" data-aos-delay="250">Software</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="250">technology</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="250">travel</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="250">illustration</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="250">design</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="250">lifestyle</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="250">love</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="250">project</span>
                    </div>
                </div>
            </aside>
        </div>
    </section>

    

</main>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>




{% endblock content %}