@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

body{
	
	font-size: 14px;
}

.wrapper .header{
	max-width: 350px;
	width: 100%;
	height: auto;
	margin: 50px auto;
}

.wrapper .header .top,
.wrapper .signup{
	background: url('../image/bg.png');
	/* background: url('https://picsum.photos/200/400'); */
    border: 1px solid #33d6ff;
    border-radius: 1px;
    padding: 40px 40px 20px;
}


.wrapper .header .form .input_field{
	margin-bottom: 5px;
}

.wrapper .header .form .input_field .input{
	width: 100%;
	background: #fafafa;
	border: 1px solid #efefef;
	font-size: 12px;
	border-radius: 3px;
	color: #000000;
	padding: 10px;
}

.wrapper .header .form .input_field .input:focus{
	border: 1px solid #b2b2b2;
}

.wrapper .header .form .btn{
	margin: 10px 0;
	background-color: #c9931e;
    border: 1px solid #3897f0;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

.wrapper .header .form .btn a{
	color: #fff;
	display: block;
}

.wrapper .header .or{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15px;
	margin: 15px 0 20px;
}

.wrapper .header .or .line{
	width: 105px;
	height: 2px;
	background: #efefef
}

.wrapper .header .or p{
	color: #c58627;
	font-size: 12px;
}

.wrapper .dif .ggl{
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper .dif .ggl img{
	width: 16px;
	height: 16px;
}

.wrapper .dif  .ggl p{
	color: #0f1625;
	font-weight: 500;
	margin-left: 10px;
}

.wrapper .dif .forgot{
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
}

.wrapper .dif .forgot a{
	color: #003569;
}

.wrapper .signup{
	margin: 10px 0 20px;
	padding: 25px 40px;
	text-align: center;
	color: #b40000;
}

.wrapper .signup a{
	color: #b80600;
}

.btn {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: hand;
}
