{% extends 'base2.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block favi %}
<link type="image/png" sizes="120x120" rel="icon" href="{% static 'image/passchng.ico' %}">
{% endblock favi %}


{% block content %}


<!-- Change Password -->
<div id="change-password" class="section scrollspy">
  <h4>Change Password</h4>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <div class="row">
            <form method="POST" novalidate>
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group col-12">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{field}}
                {% if field.errors %}
                <div class="error-container">
                  <span class="text-danger error-text">{{ field.errors.as_text }}</span>
                </div>
                {% endif %}
              </div>
              <br>
              {% endfor %}
              {% if form.non_field_errors %}
              <div class="card bg-danger text-white">
                <ul class="text-white">
                  {% for error in form.non_field_errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              <button type="submit" class="btn btn-danger mb-2">Confirm</button>
              <button type="button" class="btn btn-primary mb-2" onclick="goBack()">Back</button>

              <script>
                function goBack() {
                  window.history.go(-1);
                }
              </script>

            </form>
          </div>
        </div>
      </div>
    </div>

<!-- Right Side -->

{% if user.is_authenticated %}
<div class="col-12 col-md-6">
  <div class="card-action">
    <a href="{{previous_url}}" class="btn btn-primary mb-4">Clear</a>
    {% if messages %}
    <div class="alert alert-info">
      {% for message in messages %}
      <strong>Ok.</strong> {{ message }}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}



  </div>
</div>

{% endblock content %}

